@import url("https://use.typekit.net/grx1euv.css");

$fontPrimary: 'garamond-premier-pro', serif;
$fontDisplay : 'garamond-premier-pro-display', serif;
$fontSize: 1.8rem;

h1 {
  margin: 0;
  font-family: $fontDisplay;
  font-size: 5rem;
  line-height: 0.7;
  font-weight: 300;
  color: $textPale;
}
h2 {
  margin: 60px 0 20px;
  font-size: 3.5rem;
}
h3 {
  margin: 0 0 10px;
  font-size: 1.8rem;
}
h4 {
  margin: 0 0 5px;
  font-size: 1.5rem;
}
a {
  color: $text;
}