.intro {
  position: relative;
  height: 100vh;
  padding-top: 30%;
  h1,
  .credentials {
    position: relative;
    z-index: 1;
    text-align: right;
  }
  h1 {
    margin-right: 20px;
    span {
      display: block;
      padding: 10px 0;
    }
  }
  .credentials {
    margin-right: 30px;
    font-size: 1.5rem;
    color: $peach;
  }
  .illustration {
    position: absolute;
    z-index: 0;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url(../assets/mayu-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
  }
}