.maps-section {
  .container {
    max-width: 425px;
    padding-left: 20px;
    padding-right: 20px;
    p {
      margin: 0 auto;
      max-width: 215px;
    }
  }
  .map-peru {
    position: relative;
    margin-bottom: 55px;
    .map-image {
      position: absolute;
      z-index: 0;
      top: 0; left: 0; right: 0;
      padding-top: 150%;
      width: 100%;
      background-image: url('../assets/map_peru.svg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
    }
    .map-descriptions {
      position: relative;
      z-index: 1;
    }
    .map-description {
      display: flex;
      align-items: center;
      height: 580px;
      text-indent: 35px;
    }
  }
}