.villages {
  .village {
    max-width: 400px;
    margin: 0 auto;
    .sct-description {
      margin: -1.5rem auto;
      max-width: 280px;
    }
    .defs {
      font-size: 1.5rem;
      line-height: 1.2;
      .def {
        margin: 15px 0;
        p {
          margin: 0.7rem 0;
        }
      }
    }
  }
}